
@{
    ViewBag.Title = "Score";
}
<div class="well">
    <h4>VRPC Practical Pistol - Score</h4>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-xs-4 text-center "><h4>Stage One</h4></div>
        <div class="col-xs-4 text-center "><h4>Stage Two</h4></div>
        <div class="col-xs-4 text-center"><h4>Stage Three</h4></div>


    </div>
    <div class="row-fluid">

        <div class="col-xs-4">
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-heading">Allen Nielson</div>
                    <div class="panel-body">
                        <button class="btn btn-primary">Time</button>
                        <button class="btn btn-primary">Points</button>
                    </div>
                    <div class="panel-footer">3:41</div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-heading">Don Yash</div>
                    <div class="panel-body">
                        <button class="btn btn-primary">Time</button>
                        <button class="btn btn-primary">Points</button>
                    </div>
                    <div class="panel-footer">3:41</div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <div class="panel panel-default">
                    <div class="panel-heading">Tim Hay</div>
                    <div class="panel-body">
                        <button class="btn btn-primary">Time</button>
                        <button class="btn btn-primary">Points</button>
                    </div>
                    <div class="panel-footer">3:41</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">On Deck</div>
        <div class="panel-body">
            <div class="row-fluid well">

                <div class="col-xs-4">
                    <div>Dan Christ</div>
                    <div>
                        Stage 1:<input type="checkbox" />&nbsp;2:<input type="checkbox" />&nbsp;3:<input type="checkbox" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div>Michael Palazolo</div>
                    <div>
                        Stage 1:<input type="checkbox" /> &nbsp;2:<input type="checkbox" /> &nbsp;3:<input type="checkbox" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div>Jacob Martin</div>
                    <div>
                        Stage 1:<input type="checkbox" /> &nbsp;2:<input type="checkbox" /> &nbsp;3:<input type="checkbox" />
                    </div>
                </div>
                <hr />
            </div>
            <div class="row-fluid well">
                <div class="col-xs-4">
                    <div>Fred Flinstore</div>
                    <div>
                        Stage 1:<input type="checkbox" /> &nbsp;2:<input type="checkbox" /> &nbsp;3:<input type="checkbox" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div>Barney Rubble</div>
                    <div>
                        Stage 1:<input type="checkbox" /> &nbsp;2:<input type="checkbox" /> &nbsp;3:<input type="checkbox" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div>Blue Kazoo</div>
                    <div>
                        Stage 1:<input type="checkbox"/> &nbsp;2:<input type="checkbox"/> &nbsp;3:<input type="checkbox"/>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <table>
        @for(int rowc = 0; rowc <= ViewBag.NameGrid.GetUpperBound(0); rowc++)
        {
            <tr>
                <td>@ViewBag.NameGrid[rowc, 0].Competitor.Member.FirstName;</td>
                <td>@ViewBag.NameGrid[rowc, 1].Competitor.Member.FirstName;</td>
                <td>@ViewBag.NameGrid[rowc, 2].Competitor.Member.FirstName;</td>
            </tr>
        }
    </table>

